.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

html, body {

}

img {
	max-width: 100%;
}

body {
	background-color: #CCE3F3;
	background-image: url("../images/background.gif");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: center top;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
}

#content {
	
}

/**
* Bootstrap Alerts
*/

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.redirect-page {
	background: #D8D7D7;
	margin: 15px;
}

.redirect-panel {
	padding: 10px;
	
}

.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}

.container {

}

.content {
	padding: 0px;
}

.float .left {
	float: left;
}

.float .right {
	float: right;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

#header {
	text-align: center;
}



.top-menu {
	padding: 0px;
	position: relative;
	margin: 0px;
	list-style: none;
	background: #032942 ;
}

.top-menu li{
	float:left;
}

.top-menu li a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;
	display: block;
	padding: 0 25px;
	text-align: center;
}

.top-menu li.current a, .top-menu li a:hover{
	color: #fff;
	background: #438CBE;
}

.top-menu .right {
	float: right;
}

@media screen and (max-width: 240px) {
	.top-menu li a {
		font-size: 0px;
	}
	
	.top-menu li i {
		font-size: 15px;
	}
}

@media screen and (max-width: 800px) {
	.top-menu {
		height: auto;
		padding: 0px;
	}

	.top-menu li {
		float: none;
		display: block;
		width: 100%;
	}
	
	.top-menu .right {
		float: none;
	}
}

.breadcrumbs {
	background: #DDE9F7;
	border: 2px solid #CCE3F3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);
	
	margin: 10px 0px;
	padding: 2px;
}

.breadcrumbs-list {
	overflow: hidden;
	width: 100%;
	margin: 0px;
	padding: 0px 10px;
}
 
.breadcrumbs-list li {
	float: left;
	list-style: none;
	list-style-type: none;
}

 
.breadcrumbs-list a {
	text-decoration: none;
	color: #000;
	position: relative;
	z-index: 1;
	
	margin: 3px 7px;

}
 
.breadcrumbs-list a:hover {
	color: #006699;
}
 
@media screen and (max-width: 240px) {
	.breadcrumbs-list {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.breadcrumbs-list li a {
		font-size: 12px;
	}	
}

.pd-10 {
	padding: 10px;
}

.pd-5 {
	padding: 5px;
}

.pd-15 {
	padding: 15px;
}

.pd-7 {
	padding: 7px;
}

.panel {
	border: 5px solid #CCE3F3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);
}

.panel .header {
	background-color: #069;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	font-size: 18px;
}

.panel .header a {
	color: #FFFFFF;
	text-decoration: none;
}

.panel .header h1 {
	margin: 0px;
	padding: 3px 3px 3px 10px;
	font-size: 18px;
}

.panel .body {
	padding: 10px;
	background-color: #EFF7FB;
}

.panel .body-no-padding {
	background-color: #EFF7FB;
}

.vertical-menu {
	display: block;
	margin: 0px;
	padding: 0px;
	background: #032942;
}

.vertical-menu li {
	list-style: none;
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;
	color: #FFF;
}

.vertical-menu li a {
	color: #FFFFFF;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
	cursor: pointer;
	display: block;
	text-align: center;
}

.vertical-menu li.current a, .vertical-menu li a:hover{
	color: #fff;
	background: #438CBE;
}

.vertical-menu .head a {
	color: #FF0000;
	text-transform: uppercase;
}

.vertical-menu .head a:hover{
	color: #FF0000;
	background: #032942;
}

.tabs {
	display: block;
	width: 100%;
}
.tabs > div {
	padding-top:10px;
}
.tabs ul {
	margin:0px;
	padding:0px;
	background:#032942;
}
.tabs ul:after {
	content:"";
	display:block;
	clear:both;
	height:5px;
	background:#438CBE;
}
.tabs ul li {
	margin:0px;
	padding:0px;
	cursor:pointer;
	display:block;
	float:left;
	padding:10px 15px;
	background:#032942;
	color:#FFFFFF;
	border-right: 1px solid #006699;
}
.tabs ul li.active, .tabs ul li.active:hover {
	background:#438CBE;
	color:#fff;
}
.tabs ul li:hover {
	background:#438CBE;
}

.profile .body-no-padding {
	background: #032942;
}

.profile .profile-body {
	background: #EFF7FB;
}

.profile .profile-body p {
	margin: 3px;
}

.profile .profile-avatar {
	text-align: center;
}

.profile h3 {
	color: #032942;
}

.table {
	width:100%;
	text-align:left;
	border-collapse:collapse;
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
	margin-bottom:20px;
}
.table td {
	padding:8px 10px;
	border-right:1px solid #DDD;
}
.table tr:hover {
	background-color:#CCE3F3;
}
.table th, .table .head td {
	padding: 8px 5px;
	color: #FFFFFF;
	text-align: left;
	border-right: 1px solid #DDD;
	font-weight: normal;
	background: #006699;
}

.table .footer td {
	background: #DDE9F7;
}

.table tr {
	border-left:1px solid #DDD;
	border-top:1px solid #DDD;
}

.table th, .table td {
	border: 1px solid #DDD;
}

.forums .icon {
	width: 5%;
	vertical-align: middle;
}

.forums .title {
	width: 60%;
	text-align: left;
}

.forums .topics {
	width: 5%;
}

.forums .posts {
	width: 8%;
}

.forums .update {
	width: 22%;
	text-align: left;
}

.forums .icon, .forums .topics, .forums .posts {
	text-align: center;
}

.topics .icon {
	width: 5%;
	vertical-align: middle;
}

.topics .title {
	width: 40%;
	text-align: left;
}

.topics .author {
	width: 15%;
}

.topics .posts, .topics .views {
	width: 10%;
}

.topics .update {
	width: 20%;
	text-align: left;
}

.topics .icon, .topics .views, .topics .posts, .topics .author {
	text-align: center;
}

.buttons-right {
	margin: 10px 0px;
	text-align: right;
}

.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #006699 0%, #216091 100%);
  background-image:      -o-linear-gradient(top, #006699 0%, #216091 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#006699), to(#216091));
  background-image:         linear-gradient(to bottom, #006699 0%, #216091 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#216091', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #006699;
  color: #FFFFFF;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #023357;
  background-position: 0 -15px;
  color: #FFFFFF;
}
.btn-default:active,
.btn-default.active {
  background-color: #023357;
  border-color: #006699;
   color: #FFFFFF;
}
.btn-default.disabled,
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0;
  background-image: none;
}


.pagination {
	background: #f2f2f2;
	border: 2px solid #CCE3F3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);
	
	margin: 10px 0px;
	padding: 2px;
}

.pagination-list {
	overflow: hidden;
	width: 100%;
	margin: 0px;
	padding: 5px 10px;
}
 
.pagination-list li {
	display: inline-block;
	list-style: none;
	list-style-type: none;
	border-radius: 5px; /*optional*/
	color: #000;
}

 
.pagination-list a {
	display: inline-block;
	padding: 0px 9px;
	margin-right: 4px;
	border-radius: 3px;
	font-size: 14px;
	text-decoration: none;

	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-linear-gradient(top, #006699 0%, #216091 100%);
	background-image:      -o-linear-gradient(top, #006699 0%, #216091 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#006699), to(#216091));
	background-image:         linear-gradient(to bottom, #006699 0%, #216091 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#216091', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #006699;
	color: #FFFFFF;
}

.posts .user {
	width: 20%;
}

.posts .post {
	width: 80%;
}

.posts tr:hover {
	background: inherit;
}

.posts .head {
	
}

.posts .head td {
	padding: 4px;
}

.pagination-list .current a, .pagination-list a:hover {
	background: #032942;
}
/**
@media screen and (max-width: 240px) {
	.pagination-list {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.pagination-list li a {
		font-size: 12px;
	}	
}
*/

.underline {
	text-decoration: underline;
}


#footer {
	text-align: center;
	font-size: 15px;
}

#footer .runtime-info {
	font-size: 11px;
}