.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

html, body {

}

img {
	max-width: 100%;
}

body {
	background-color: #CCE3F3;
	background-image: url("../images/background.gif");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: center top;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
}

#content {
	
}

/**
* Bootstrap Alerts
*/

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.redirect-page {
	background: #D8D7D7;
	margin: 15px;
}

.redirect-panel {
	padding: 10px;
	
}

.container {

}

.content {
	padding: 0px;
}

.float .left {
	float: left;
}

.float .right {
	float: right;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

#header {
	text-align: center;
}



.top-menu {
	padding: 0px;
	position: relative;
	margin: 0px;
	list-style: none;
	background: #032942 ;
}

.top-menu li{
	float:left;
}

.top-menu li a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 46px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;
	display: block;
	padding: 0 25px;
	text-align: center;
}

.top-menu li.current a, .top-menu li a:hover{
	color: #fff;
	background: #438CBE;
}

.top-menu .right {
	float: right;
}

@media screen and (max-width: 240px) {
	.top-menu li a {
		font-size: 0px;
	}
	
	.top-menu li i {
		font-size: 15px;
	}
}

@media screen and (max-width: 800px) {
	.top-menu {
		height: auto;
		padding: 0px;
	}

	.top-menu li {
		float: none;
		display: block;
		width: 100%;
	}
	
	.top-menu .right {
		float: none;
	}
}

.breadcrumbs {
	background: #DDE9F7;
	border: 2px solid #CCE3F3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);
	
	margin: 10px 0px;
	padding: 2px;
}

.breadcrumbs-list {
	overflow: hidden;
	width: 100%;
	margin: 0px;
	padding: 0px 10px;
}
 
.breadcrumbs-list li {
	float: left;
	list-style: none;
	list-style-type: none;
}

 
.breadcrumbs-list a {
	text-decoration: none;
	color: #000;
	position: relative;
	z-index: 1;
	
	margin: 3px 7px;

}
 
.breadcrumbs-list a:hover {
	color: #006699;
}
 
@media screen and (max-width: 240px) {
	.breadcrumbs-list {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.breadcrumbs-list li a {
		font-size: 12px;
	}	
}

.panel {
	border: 5px solid #CCE3F3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(border-radius.htc);
}

.panel .header {
	background-color: #069;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	font-size: 18px;
}

.panel .header h1 {
	margin: 0px;
	padding: 3px 3px 3px 10px;
	font-size: 18px;
}

.panel .body {
	padding: 10px;
	background-color: #EFF7FB;
}

#footer {
	text-align: center;
	font-size: 15px;
}

#footer .runtime-info {
	font-size: 11px;
}